* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.music {
  border-radius: 50px;
}
.music_bg {
  background-color: rgb(179, 179, 179);
  width: 100%;
  height: 60px;
}
.music_img {
  width: 100%;
  height: 240px;
  border-radius: 15px 15px 0 0;
}
